.u-center-text {
  text-align: center !important;
}

.u-margin-small {
  margin-bottom: 1.5rem;
}

.u-margin-medium {
  margin-bottom: 4rem !important;
}

.u-margin-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-big {
  margin-top: 57rem !important;
}
