.section-about {
  background-color: $color-gray-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
  height: 100rem;
}

.section-features {
  padding: 20rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("../img/nat-4.jpg");
  background-size: cover;
  height: 658px;

  // Skew the entire section
  transform: skewY(-7deg);
  margin-top: -11rem;

  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  padding: 25rem 0 50rem;
  background-color: $color-gray-light-1;
  margin-top: -10rem;
}
